<%= form_with  model: @order, id: 'charge-form', class: 'card-form',local: true do |f| %>
  <div class='form-wrap'>
    <%= f.label :price, "Price" %>
    <%= f.text_field :price, class:"price", placeholder:"ex)2000" %>
  </div>
  <div class='form-wrap'>
    <%= f.label :number,  "Card Number" %>
    <%= f.text_field :number, class:"number", placeholder:"ex) 1234-5678-...", maxlength:"16" %>
  </div>
  <div class='form-wrap'>
    <%= f.label :cvc ,"CVC" %>
    <%= f.text_field :cvc, class:"cvc", placeholder:"3 or 4 digits on the back of your card", maxlength:"4" %>
  </div>
  <div class='form-wrap'>
    <p>有効期限</p>
    <div class='input-expiration-date-wrap'>
      <%= f.text_field :exp_month, class:"exp_month", placeholder:"ex)3" %>
      <p>月</p>
      <%= f.text_field :exp_year, class:"exp_year", placeholder:"ex)24" %>
      <p>年</p>
    </div>
  </div>
  <%= f.submit "Purchase", class:"button", id: "button" %>
<% end %>