<%= render "shared/header" %>

<%= @books.each do |book|%>
<ul>
  <li>
    <%= book.title  %>
    <%= book.price %>
    <%= Quality.data[book.quality_id - 1][:name] %>
    <%= book.user.username %>
    <%= link_to(book_path(book.id)) do %>
      <div>Check Out This Book!</div>
    <% end %>
  </li>
</ul>
<% end %>

<%= link_to(new_book_path) do %>
  <div>Register your Book!</div>
<% end %>