<div>
This is so New!!
</div>
<%= form_with(model: @book, local: true) do |f| %>
  <div class = "book-title-form">
    予約を入れたい日付を右のように半角で入力してください！
    <%= f.text_area :title, autofocus: true, class: "book-title" , placeholder: "ex) 20220421 (2022年4月21日)" %> 
  </div>
  <div class = "book-title-form">
    いくら払いたいですか？
    <%= f.number_field :price, autofocus: true, class: "book-price-form" , placeholder: "ex) 10 dollar" %>
  </div> 
  <div class = "book-title-form">
    この蘭は適当に選んでください
    <%= f.collection_select(:quality_id, Quality.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
  </div>
  <div class = "book-title-form">
    ヘアスタイルのイメージを登録してください
    <%= f.file_field :image, class: "image-form" %>
  </div>
  <div class="actions">
    <%= f.submit "この内容で予約！" %>
  </div>

<% end%>